<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zb.common">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application>
        <activity
            android:name=".acts.TextButtonActivity"
            android:exported="true" />
    </application>

</manifest>